<% layout('layouts/boilerplate')%>

<div class="container justify-content-center align-items-center mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://www.creativefabrica.com/wp-content/uploads/2023/01/19/Camping-place-cartoon-composition-Graphics-58169293-1-1-580x386.png"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
              <label class="form-label" for="username">Username</label>
              <input
                class="form-control"
                type="text"
                id="username"
                name="username"
                value="bob"
                autofocus
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                class="form-control"
                type="password"
                id="password"
                name="password"
                value="bob"
                required
              />
              <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-success">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
